#rootBorder {
    -fx-background-color: #1d2a3d;
}

.volver-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #55d6b3;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.app-title {
    -fx-text-fill: #55d6b3;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}


.file-label {
    -fx-text-fill: #e8edf5;
    -fx-font-size: 14px;
}

.file-value {
    -fx-text-fill: #55d6b3;
    -fx-font-size: 14px;
}

.import-btn {
    -fx-background-color: #55d6b3;
    -fx-background-radius: 14;
    -fx-padding: 12 26 12 26;
    -fx-font-weight: bold;
    -fx-text-fill: #071323;
    -fx-font-size: 15px;
}

.import-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #22d3ee;
}
.stats-panel {
    -fx-background-color: #132033;
    -fx-background-radius: 18;
    -fx-border-color: #55d6b3;
    -fx-border-radius: 18;
    -fx-border-width: 2;
    -fx-padding: 18 15 20 15;
}

.panel-title,
.stats-title {
    -fx-text-fill: #e8edf5;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.field-label,
.stat-field {
    -fx-text-fill: #e8edf5;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.value-label,
.stat-value {
    -fx-text-fill: #55d6b3;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.root-scroll {
    -fx-background: #1d2a3d;
    -fx-background-color: #1d2a3d;
}

.back-btn {
    -fx-background-color: #1C2A40;
    -fx-border-color: #55D6B2;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #55D6B2;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-padding: 7 16 7 16;
}

.back-btn:hover {
    -fx-background-color: #55D6B2;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.estado-label {
    -fx-text-fill: #e8edf5;
    -fx-font-size: 13px;
}

#mapScrollPane {
    -fx-background: #0d1b2a;
    -fx-border-color: #16c7e8;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-width: 2;
}

.zoom-btn {
    -fx-background-color: #55d6b3;
    -fx-text-fill: #071323;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 8;
    -fx-min-width: 42;
    -fx-min-height: 42;
}

.zoom-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #22d3ee;
}

.mapa-label {
    -fx-text-fill: #55d6b3;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.gpx-btn {
    -fx-background-color: #55d6b3;
    -fx-text-fill: #132033;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-pref-height: 38;
}

.gpx-btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #22d3ee;
}


