#rootBorder {
    -fx-background-color: #1d2a3d;
}

#mapScrollPane {
    -fx-background-color: #132033;
    -fx-background-radius: 16;
    -fx-border-color: #16c7e8;
    
}

#infoLabel {
    -fx-font-size: 15px;
    -fx-font-style: italic;
}

#zoom {
    -fx-background-color: #4ecca3;
    -fx-text-fill: #0d1b2a;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 5;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
}

#zoom:hover {
    -fx-background-color: #3db88f;
    -fx-cursor: hand;
}

.top-panel {
    -fx-padding: 12 10 8 10;
}

.subtitle {
    -fx-font-size: 15px;
}

.bottom-panel {
    -fx-padding: 10 20 15 20;
}

#volver{
    -fx-background-color: #e94560;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#volver:hover {
    -fx-background-color: #701a1a;
    -fx-cursor: hand;
}
